@{
    ViewData["Title"] = "About the Creators";
    ViewData["Message"] = "(of the website of course)";
}
<h2>@ViewData["Title"]</h2>
<h4>@ViewData["Message"]</h4>

<div>
    <h5 style="line-height:25px">Well it seems you found the only page dedicated to the real hard workers, The Creators of this Webpage. Congrats on being curious enough to check this out and if Pewds is reading this we love you and all you are. Never change because even if you aren't number 1 in subscribers, you'll always be number 1 in our hearts. Also give us a brofist already we deserve it. Oh, and don't forget to like and subscribe and smash that bell for notifications of when he uploads next! Comment down below improvements for this website cause I ran out of ideas.</h5>
    <p style="border:4px solid black;"></p>
    <h2>The Nine Year Olds Who Created This Page:</h2>
    <div style="border:5px solid yellow; background-color:yellow;">
        <h3>Project Lead - Johnathan Burke</h3>
        <ul>
            <li><a href="https://github.com/jburke46">Project Lead's GitHub</a></li>
            <li><a href="https://twitter.com/ltz_Elixir">Project Head's Twitter</a></li>
            <li><a href="https://twitch.tv/ltz_elixir">Project Lead's Twitch</a></li>
        </ul>
    </div>
    <div style="padding-top:10px">
        <p style="border:4px solid black;"></p>
    </div>
    <div style="border:5px solid red; background-color:red">
        <h3>Co-Lead and the only other one who worked on this - Paul Gearo</h3>
        <ul>
            <li><a href="https://github.com/PaulGearo" style="color:white; text-decoration:underline;">Co-Lead's GitHub</a></li>
            <li><a href="https://www.linkedin.com/in/paul-gearo-b464a917b/" style="color:white; text-decoration:underline;">Co-Lead's LinkedIn</a></li>
            <li><a href="https://www.instagram.com/paulgearo/" style="color:white; text-decoration:underline;">Co-Lead's Instagram</a></li>
        </ul>
    </div>
    <div style="padding-top:10px">
        <p style="border:4px solid black;"></p>
    </div>  
    <h3>About this Project</h3>
    <h5>This webpage was created as a part of a school project and our final project in that class. This website will be seen by potential employers and companies looking to hire us so please do not do anything stupid with our link's. We hope you enjoy this webpage and that PewDiePie wins the sub war and crushes T-Series once and for all.</h5>
</div>
