@using System.Web;
@using System;
@{
    ViewData["Title"] = "MainPage";
}

<body style="background-image:url(https://i.redditmedia.com/1mYT4kfOMfiNsp8Ka72pFF-Wiz5IL-nlLUFiifvK314.jpg?w=320&amp;s=90f282a04d669c9514aa83271a8ed19e); height:100%; width:100%; background-size: cover">


    <div class="top-left">
        <audio src="~/BitchLasagna.mp3" preload="auto" autoplay="autoplay"></audio>
        <h2 class="text-left" style="color:white;"><span style="background-color:black;">About Him</span></h2>
        <a href="https://en.wikipedia.org/wiki/PewDiePie">

            <img src="https://media.boingboing.net/wp-content/uploads/2017/02/pewdiepie.jpg" class="img-responsive media-left" style="width: 200px; height: 120px;" />
        </a>
    </div>
    <div>
        <h2 class="text-center" style=" color:white;"><span style="background-color:black;">Click to Subscribe</span></h2>
        <a href="https://www.youtube.com/user/PewDiePie">
            <embed src="https://livecounts.net/channel/pewdiepie" class="img-responsive center-block"/>
        </a>
    </div>
    <div class="bottom-right">
        <h2 class="text-right" style="position:relative; color:white;"><span style="background-color:black;">His Chair. ONLY $399!</span></h2>
        <a href="https://usa.clutchchairz.com/pewdiepie-edition-throttle-series/" style="background-position-x:right;background-position-y:bottom;">
            <img src="https://pa1.narvii.com/6862/efd2d5189a018796c652efe0a2f76fd5fb9236dcr1-500-282_hq.gif" class="img-responsive pull-right" style="width: 200px; height: 120px;" />
        </a>
    </div>

</body>