@using System.Web;
@using System;
@{
    ViewData["Title"] = "MainPage";
}
<body style="background-image:url(https://i.redditmedia.com/1mYT4kfOMfiNsp8Ka72pFF-Wiz5IL-nlLUFiifvK314.jpg?w=320&amp;s=90f282a04d669c9514aa83271a8ed19e); height:100%; width:100%; background-size: cover; ">

    <div class="top-left">
        <audio src="~/BLI.mp3" preload="auto" autoplay="autoplay"></audio>
        <h2 class="text-left" style="color:white;"><span style="background-color:black;">About Him</span></h2>
        <a href="https://en.wikipedia.org/wiki/PewDiePie">

            <img src="https://static01.nyt.com/images/2019/03/15/world/15xp-pewdiepie/15xp-pewdiepie-articleLarge.jpg?quality=75&auto=webp&disable=upscale" class="img-responsive " style=" width:200px; height: 150px;border:5px solid black;" />
        </a>
    </div>
    <div>
        <h2 class="text-center" style=" color:white;"><span style="background-color:black;">Click to Subscribe</span></h2>
        <a href="https://www.youtube.com/user/PewDiePie">
            <embed src="https://livecounts.net/channel/pewdiepie" class="img-responsive center-block" style="border:7px solid black" />
        </a>
    </div>
</body>
