
@{
    ViewData["Title"] = "Merch";
}

<body style="background-image:url(https://i.redditmedia.com/1mYT4kfOMfiNsp8Ka72pFF-Wiz5IL-nlLUFiifvK314.jpg?w=320&amp;s=90f282a04d669c9514aa83271a8ed19e); height:100%; width:100%; background-size: cover">
    <div class="bottom-right">
        <audio src="~/BitchLasagna.mp3" preload="auto" autoplay="autoplay"></audio>
        <h2 class="text-right" style="position:relative; color:white;"><span style="background-color:black; ">His Chair. ONLY $399!</span></h2>
        <a href="https://usa.clutchchairz.com/pewdiepie-edition-throttle-series/" style="background-position-x:right;background-position-y:bottom;">
            <img src="https://pa1.narvii.com/6862/efd2d5189a018796c652efe0a2f76fd5fb9236dcr1-500-282_hq.gif" class="img-responsive pull-right" style="width: 200px; height: 120px; border:7px solid black" />
        </a>
    </div>
    <div>
        <h2 class="text-center" style="color:white;"><span style="background-color:black;">The Merch Store</span></h2>
        <a href="https://represent.com/store/pewdiepie">
            <img src="https://ih0.redbubble.net/image.479005857.6394/ra%2Cunisex_tshirt%2Cx925%2Cfafafa%3Aca443f4786%2Cfront-c%2C217%2C190%2C210%2C230-bg%2Cf8f8f8.lite-1u1.jpg" class="img-responsive center-block" style="border:7px solid black" />
        </a>
    </div>


</body>
